// .homeContainer{
//     display: flex;
//     justify-content: center; /* center the content horizontally */
//   align-items: center; 
//     width: 100%;
//     background-color: blue;
// }
.homeContainer{
  display: flex;
  width: 100%;
  background-color: #f1f1f1;
}